<template>
	<div class="connection-status">
		<svg :class="connectionStatus" viewBox="0 0 24 24" class="icon">
			<path fill="none" d="M0 0h24v24H0z" />
			<path d="M12 11c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 2c0-3.31-2.69-6-6-6s-6 2.69-6 6c0 2.22 1.21 4.15 3 5.19l1-1.74c-1.19-.7-2-1.97-2-3.45 0-2.21 1.79-4 4-4s4 1.79 4 4c0 1.48-.81 2.75-2 3.45l1 1.74c1.79-1.04 3-2.97 3-5.19zM12 3C6.48 3 2 7.48 2 13c0 3.7 2.01 6.92 4.99 8.65l1-1.73C5.61 18.53 4 15.96 4 13c0-4.42 3.58-8 8-8s8 3.58 8 8c0 2.96-1.61 5.53-4 6.92l1 1.73c2.99-1.73 5-4.95 5-8.65 0-5.52-4.48-10-10-10z" />
		</svg>
		<span class="label">{{ label }}</span>
	</div>
</template>

<script>
export default {
	name: 'ConnectionStatus',

	props: {
		connectionStatus: {
			type: String,
			default: null
		}
	},

	computed: {
		label() {
			return this.connectionStatus ? this.connectionStatus.replace('_', ' ') : '...';
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../styles/colors';

	.connection-status {
		display: flex;
		line-height: 24px;
	}

	.icon {
		height: 24px;
		width: 24px;
		margin-right: 8px;

		fill: $grey-300;

		animation-fill-mode: both;
		animation: blink 1500ms infinite;

		&.connect {
			fill: $light-green-500;
			animation: none;
		}

		&.reconnect {
			fill: $light-green-500;
		}

		&.connect_timeout {
			fill: $grey-400;
			animation: none;
		}

		&.error,
		&.connect_error,
		&.reconnect_error,
		&.reconnect_failed {
			fill: $red-700;
			animation: none;
		}

		// &.disconnect {}

		// &.reconnect_attempt {}

		&.reconnecting {
			fill: $light-blue-500;
		}

		// &.ping

		// &.pong
	}

	.label {
		color: $grey-700;
		display: block;
		font-size: 12px;
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: uppercase;
		user-select: none;
		white-space: nowrap;
	}

	@keyframes blink {
		0%,
		50%,
		100% {
			opacity: 1;
		}

		25%,
		75% {
			opacity: 0;
		}
	}
</style>
