<template>
	<transition name="slide">
		<div class="drawer">
			<div class="shelf">
				<div class="header">
					<h1 class="title">{{ title }}</h1>
					<button class="button ripple" @click="applyChanges">
						<span class="button-label">CLOSE</span>
						<svg class="button-icon" viewBox="0 0 24 24">
							<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
						</svg>
					</button>
				</div>
				<div class="body">
					<slot />
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: 'Drawer',

	props: {
		title: {
			type: String,
			default: ''
		}
	},

	methods: {
		applyChanges() {
			this.$emit('complete');
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../styles/colors';
	@import '../styles/timing-functions';
	@import '../styles/ripple';

	.drawer {
		position: fixed;
		width: 100vw;
		z-index: 1000;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.1);
		top: 0;
		left: 0;
	}

	.shelf {
		align-items: stretch;
		background-color: $grey-50;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		width: 100%;
		box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	}

	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis; // max-width: calc(100% - )
		font-size: 18px;
		margin: 0;
		font-weight: 400;
		line-height: 1;
		min-width: 0;
		padding: 12px 24px; // max-width: calc(100% - 32px);
	}

	.button {
		// width: 42px;
		font-family: inherit;
		height: 42px;
		flex: none;
		display: inline-flex;
		border: none;
		margin: 0;
		outline: 0;
		background: transparent;
		padding: 0;
		user-select: none;
		appearance: none;
		padding: 0 20px;
		align-items: center;
		border-left: 1px solid $grey-400;
		cursor: pointer;
	}

	.button-label {
		padding-right: 6px;
		font-size: 12px;
		font-weight: 700;
		color: $grey-700;
	}

	.button-icon {
		width: 20px;
		fill: $grey-700;
	}

	.header {
		border-top: 1px solid $grey-300;
		border-bottom: 1px solid $grey-300; // padding: 12px 0;
		display: flex;
		background-color: $grey-200;
		justify-content: space-between;
	}

	.body {
		background-color: $grey-50;
	}

	.slide {
		&-enter {
			background-color: rgba(0, 0, 0, 0);
			.shelf {
				transform: translateY(100%);
			}
		}

		&-enter-active {
			transition: background-color 500ms $ease-out-expo;
			.shelf {
				transition: transform 500ms $ease-out-expo;
			}
		}

		&-enter-to {
			background-color: rgba(0, 0, 0, 0.1);
			.shelf {
				transform: translateY(0);
			}
		}

		&-leave {
			background-color: rgba(0, 0, 0, 0.1);
			.shelf {
				transform: translateY(0);
			}
		}

		&-leave-active {
			transition: background-color 500ms $ease-in-expo;
			.shelf {
				transition: transform 500ms $ease-in-expo;
			}
		}

		&-leave-to {
			background-color: rgba(0, 0, 0, 0);
			.shelf {
				transform: translateY(100%);
			}
		}
	}
</style>
