<template>
	<footer class="footer-bar">
		<connection-status :connection-status="connectionStatus" />
		<time :datetime="lastUpdate" class="last-update">{{ formattedDate }}</time>
	</footer>
</template>

<script>
import DateFnsFormat from 'date-fns/format';

import ConnectionStatus from './ConnectionStatus';

export default {
	name: 'FooterBar',

	components: {
		'connection-status': ConnectionStatus
	},

	props: {
		lastUpdate: {
			type: Date,
			default: null,
		},

		connectionStatus: {
			type: String,
			default: null,
		}
	},

	computed: {
		formattedDate() {
			if (this.lastUpdate) {
				return DateFnsFormat(this.lastUpdate, 'D MMM, HH:mm');
			}

			return '';
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../styles/colors';
	@import '../styles/timing-functions';

	.footer-bar {
		background: $grey-50;
		border-top: 1px solid $grey-200;
		display: flex;
		justify-content: space-between;
		line-height: 24px;
		padding: 18px 18px;
		width: 100%;
		pointer-events: none;
	}

	.last-update {
		font-size: 12px;
		text-transform: uppercase;
		color: $grey-700;
		user-select: none;
	}
</style>
