<template>
	<header class="header-bar">
		<h1 class="title">Adhan Clock</h1>
		<time-display :time="time" style="--font-size: 20px" />
	</header>
</template>

<script>
import { Time } from 'adhan-clock-common';

import TimeDisplay from './TimeDisplay';

export default {
	name: 'HeaderBar',

	components: {
		'time-display': TimeDisplay
	},

	props: {
		time: {
			type: Object,
			required: true,
			validator(value) {
				return value instanceof Time;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../styles/colors';
	@import '../styles/timing-functions';

	.header-bar {
		display: flex;
		background-color: $light-green-600;
		justify-content: space-between;
		align-content: center;
		padding: 16px 24px;
		color: $grey-50;
		width: 100%;
		pointer-events: none;
	}

	.title {
		font-size: 20px;
		line-height: 1.2;
		margin: 0;
		user-select: none;
	}
</style>
