<template>
	<svg class="spinner" viewBox="0 0 100 2" preserveAspectRatio="none">
		<rect 
			:class="{ 'is-busy':busy }"
			class="bar"
			x="0"
			y="0" 
		/>
	</svg>
</template>

<script>
export default {
	name: 'Spinner',

	props: {
		busy: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../styles/colors';
	@import '../styles/timing-functions';

	.spinner {
		height: 2px;
		width: 100%;
		background-color: $grey-200;
	}

	.bar {
		width: 100%;
		height: 2px;
		fill: $blue-400;
		transform: translateX(-100%);
	}

	.is-busy {
		animation: spin 1100ms $ease-in-out-circ infinite;
	}

	@keyframes spin {
		0% {
			transform: translateX(-100%);
		}

		45%,
		55% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(100%);
		}
	}
</style>
