<template>
	<div class="time-display">
		<span class="digits">{{ hours }}</span>
		<span class="colon">:</span>
		<span class="digits">{{ minutes }}</span>
	</div>
</template>

<script>
import { Time } from 'adhan-clock-common';

export default {
	name: 'TimeDisplay',

	props: {
		time: {
			type: Object,
			required: true,
			validator(value) {
				return value instanceof Time;
			}
		}
	},

	computed: {
		hours() {
			return this.time.hours.toString().padStart(2, '0');
		},
		minutes() {
			return this.time.minutes.toString().padStart(2, '0');
		}
	}
};
</script>

<style lang="scss" scoped>
	.time-display {
		--font-size: 20px;

		display: inline-flex;
		font-size: 20px;
		font-size: var(--font-size);
		letter-spacing: 2px;
		text-align: center;
		user-select: none;
		line-height: 1.2;
		align-items: center;
	}

	.digits,
	.colon {
		display: block;
	}
</style>
