<template>
	<button :class="{ isActive: value }" class="button" @click="toggle">
		<svg class="icon icon-silent" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0z" />
			<path d="M20 18.69L7.84 6.14 5.27 3.49 4 4.76l2.8 2.8v.01c-.52.99-.8 2.16-.8 3.42v5l-2 2v1h13.73l2 2L21 19.72l-1-1.03zM12 22c1.11 0 2-.89 2-2h-4c0 1.11.89 2 2 2zm6-7.32V11c0-3.08-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68c-.15.03-.29.08-.42.12-.1.03-.2.07-.3.11h-.01c-.01 0-.01 0-.02.01-.23.09-.46.2-.68.31 0 0-.01 0-.01.01L18 14.68z" />
		</svg>
		<svg class="icon icon-active" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0z" />
			<path d="M7.58 4.08L6.15 2.65C3.75 4.48 2.17 7.3 2.03 10.5h2c.15-2.65 1.51-4.97 3.55-6.42zm12.39 6.42h2c-.15-3.2-1.73-6.02-4.12-7.85l-1.42 1.43c2.02 1.45 3.39 3.77 3.54 6.42zM18 11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2v-5zm-6 11c.14 0 .27-.01.4-.04.65-.14 1.18-.58 1.44-1.18.1-.24.15-.5.15-.78h-4c.01 1.1.9 2 2.01 2z" />
		</svg>
	</button>
</template>

<script>
export default {
	name: 'Toggle',

	props: {
		value: {
			type: Boolean,
			default: true
		}
	},

	methods: {
		toggle() {
			this.$emit('input', !this.value);
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../styles/colors';
	@import '../styles/timing-functions';

	.button {
		align-items: center;
		appearance: none;
		background: $grey-50;
		border-radius: 42px;
		border: 1px solid $grey-300;
		display: inline-flex;
		flex: none;
		height: 42px;
		margin: 0;
		outline: 0;
		padding: 0;
		position: relative;
		user-select: none;
		cursor: pointer;

		* {
			pointer-events: none;
		}

		&:before {
			position: absolute;
			content: '';
			width: 40px;
			height: 40px;
			border-radius: 40px;
			background-color: $grey-500;
			z-index: 1;
			transform: translateX(0);
			transition: transform 500ms $ease-in-out-circ, background-color 500ms $ease-in-out-circ;
		}
	}

	.isActive {
		&:before {
			background-color: $light-green-500;
			transform: translateX(100%);
		}
	}

	.icon {
		width: 40px;
		height: 40px;
		padding: 10px;
		z-index: 2;
		fill: $grey-50;
	}
</style>

