<template>
	<div id="adhan-clock" class="adhan-clock" >

		<header-bar :time="currentTime" class="header" />

		<main class="body">

			<div class="times">
				<div v-for="(prayer, index) in prayerTimes" :key="prayer.name" class="row" >
					<label :class="labelClasses(prayer)" class="label" >{{ prayer.name }}</label>

					<div class="time" @click="updatePrayerTime(index)" >

						<time-display :time="prayer" />

						<svg class="clock-icon" viewBox="0 0 24 24">
							<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
							<path d="M0 0h24v24H0z" fill="none" />
							<path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
						</svg>

					</div>
				</div>
			</div>

			<div class="actions">

				<toggle v-model="alarmIsActive"/>

				<mute-button :is-playing="alarmIsPlaying" @click.native="muteAlarm" />
				
			</div>

			<drawer v-if="isUpdatingTime" :title="prayerTimes[updateTimeIndex].name" @complete="onUpdateComplete" >
				<div class="drawer-contents">
					<time-picker v-model="prayerTimes[updateTimeIndex]" :size="32" />
				</div>
			</drawer>

		</main>

		<spinner :busy="isBusy" class="spinner" />

		<footer-bar :connection-status="connectionStatus" :last-update="lastUpdate" class="footer" />

	</div>
</template>

<script>
import SocketIO from 'socket.io-client';
import DateFnsParse from 'date-fns/parse';

import { PrayerName, ControlEvent, WeekDayIndex, Time, SocketEvent } from 'adhan-clock-common';

import HeaderBar from './components/HeaderBar';
import FooterBar from './components/FooterBar';
import TimePicker from './components/timepicker/TimePicker';
import TimeDisplay from './components/TimeDisplay';
import Drawer from './components/Drawer';
import Spinner from './components/Spinner';
import Toggle from './components/Toggle';
import MuteButton from './components/MuteButton';

let socket = null;

export default {
	name: 'AdhanClock',

	components: {
		'header-bar': HeaderBar,
		'footer-bar': FooterBar,
		'time-picker': TimePicker,
		'time-display': TimeDisplay,
		drawer: Drawer,
		spinner: Spinner,
		toggle: Toggle,
		'mute-button': MuteButton
	},

	data() {
		return {
			prayerTimes: [
				new Time(PrayerName.FAJR, 0, 0),
				new Time(PrayerName.DHUHR, 0, 0),
				new Time(PrayerName.JUMUAH, 0, 0),
				new Time(PrayerName.ASR, 0, 0),
				new Time(PrayerName.MAGHRIB, 0, 0),
				new Time(PrayerName.ISHA, 0, 0)
			],

			lastUpdate: null,
			alarmIsActive: false,
			alarmIsPlaying: false,

			currentTime: new Time('Now', 0, 0),

			today: null,

			isBusy: false,

			intervalID: null,

			updateTimeIndex: null,

			connectionStatus: null,

			visibilityTimeOut: null
		};
	},

	computed: {
		prayersComplete() {
			return this.currentTime.inSeconds() > this.prayerTimes[this.prayerTimes.length - 1].inSeconds();
		},

		isJumuah() {
			return (this.today === WeekDayIndex.THURSDAY && this.prayersComplete) || (this.today === WeekDayIndex.FRIDAY && !this.prayersComplete);
		},

		nextPrayer() {
			const currentTimeInseconds = this.currentTime.inSeconds();
			const fiveMinutes = 5 * 60;

			let prayer = this.prayerTimes.find(prayerTime => {
				return prayerTime.inSeconds() + fiveMinutes > currentTimeInseconds;
			});

			if (prayer === undefined) {
				prayer = this.prayerTimes[0];
			} else if (this.isJumuah && prayer.name === PrayerName.DHUHR) {
				prayer = this.prayerTimes[2];
			}

			return prayer;
		},

		isUpdatingTime() {
			return this.updateTimeIndex !== null;
		}
	},

	watch: {
		// alarmIsActive: this.setAlarmState,
		alarmIsActive(value) {
			socket.emit(ControlEvent.SET_ALARM_STATE, value);
		}
	},

	mounted() {
		this.start();
		document.addEventListener('visibilitychange', this.onVisibilityChange, false);
	},

	methods: {
		start() {
			this.tick();

			socket = SocketIO.connect('/', { path: '/control' });

			socket.on(SocketEvent.CONNECT, this.onSocketConnection);
			socket.on(SocketEvent.RECONNECT, this.onSocketConnection);

			socket.on(ControlEvent.GET_ALARM_STATE, this.onGetAlarmState);
			socket.on(ControlEvent.GET_TIMES, this.onGetTimes);

			socket.on(ControlEvent.ALARM_IS_PLAYING, this.onGetAlarmIsPlaying);

			Object.keys(SocketEvent).forEach(eventKey => {
				if (SocketEvent.hasOwnProperty(eventKey)) {
					const event = SocketEvent[eventKey];

					socket.on(event, () => {
						this.connectionStatus = event;
					});
				}
			});
		},

		stop() {
			clearInterval(this.intervalID);
			clearTimeout(this.intervalID);

			// Remove all listeners
			socket.off();
			// close connection
			socket.disconnect();
		},

		tick() {
			const date = new Date();
			this.today = date.getDay();
			this.currentTime = new Time('Now', date.getHours(), date.getMinutes());

			const nextInterval = (60 - date.getSeconds())* 1000;
			this.intervalID = setTimeout(this.tick, nextInterval);
		},

		updatePrayerTime(timeIndex) {
			this.updateTimeIndex = timeIndex;
		},

		setAlarmState(value) {
			if (socket) {
				socket.emit(ControlEvent.SET_ALARM_STATE, value);
			}
		},

		onUpdateComplete() {
			socket.emit(ControlEvent.SET_TIMES, this.prayerTimes);
			this.updateTimeIndex = null;
		},

		labelClasses(prayer) {
			let labelClass = '';
			if (prayer.name === this.nextPrayer.name) {
				labelClass += 'is-active';
			}

			if (prayer.name === PrayerName.DHUHR && this.isJumuah) {
				labelClass += ' strike-out';
			} else if (prayer.name === PrayerName.JUMUAH && !this.isJumuah) {
				labelClass += ' strike-out';
			}

			return labelClass;
		},

		onVisibilityChange() {
			if (document.hidden) {
				this.stop();
			} else {
				this.start();
			}
		},

		onSocketConnection() {
			this.isBusy = true;
			socket.emit(ControlEvent.GET_ALARM_STATE);
			socket.emit(ControlEvent.GET_TIMES);
		},

		onGetAlarmState(alarmState) {
			this.alarmIsActive = alarmState;
		},

		onGetAlarmIsPlaying(isPlaying) {
			this.alarmIsPlaying = isPlaying;
		},

		onGetTimes(response) {
			this.prayerTimes = response.times.map(time => {
				return new Time(time.name, time.hours, time.minutes);
			});

			this.lastUpdate = DateFnsParse(response.lastUpdate);

			this.isBusy = false;
		},

		muteAlarm() {
			socket.emit(ControlEvent.STOP_ALARM);
		}
	}
};
</script>

<style lang="scss" scoped>
	@import 'styles/colors';
	@import 'styles/timing-functions';

	.adhan-clock {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		overflow: hidden;
	}

	.header {
		position: fixed;
		z-index: 102;
		top: 0;
	}

	.spinner {
		position: fixed;
		z-index: 101;
		bottom: 61px;
	}

	.footer {
		position: fixed;
		z-index: 100;
		bottom: 0;
	}

	.body {
		padding-top: 56px;
		padding-bottom: 63px;
	}

	.times {
		padding: 24px;
	}

	.row {
		display: flex;
		justify-content: space-between;
		margin: 0;

		&:first-of-type .label:before {
			height: 50%;
			top: 50%;
		}

		&:last-of-type .label:before {
			height: 50%;
		}
	}

	.label {
		font-size: 20px;
		user-select: none; // padding: 20px 24px 20px 16px;
		padding: 20px 24px;
		line-height: 1.2;
		position: relative; // margin-left: 16px;
		// border-left: 1px solid $grey-400;
		&:before,
		&:after {
			content: '';
			position: absolute;
			pointer-events: none;
			user-select: none;
		}

		&:before {
			height: 100%;
			border-left: 1px solid $grey-300;
			top: 0;
			left: 0;
		}

		&:after {
			background-color: $grey-300;
			border-radius: 50%;
			height: 15px;
			left: 1px;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 15px;
		}

		&.is-active:after {
			background-color: $light-green-500;
		}

		&.strike-out {
			color: $grey-300;
		}
	}

	.time {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}

	.clock-icon {
		width: 22px;
		display: block;
		margin-left: 4px;
		fill: $grey-500;
	}

	.actions {
		text-align: center;
		margin-bottom: 36px;
	}
</style>


<style lang="scss">
	@import 'styles/font-roboto-mono';

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}

	html {
		box-sizing: border-box;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	body {
		position: relative;
		margin: 0;
		font-family: 'Roboto Mono';
		color: #212121;
	}

	button::-moz-focus-inner {
		border: 0;
	}
</style>