<template>
	<div 
		:style="style"
		class="digit-track"
		@mousedown.capture.prevent.stop="startDrag($event)"
		@touchstart.capture="startDrag($event)"
	>
		<div :style="translateY" :class="{ 'focus-out' : inFocus === false }" class="track">
			<div 
				v-for="n in range"
				:key="n - 1"
				:style="digitScale(n-1)"
				class="digit" 
			>
				{{ formatDigit( n - 1 ) }}
			</div>
		</div>
	</div>
</template>

<script>
import * as TimePickerEvents from './TimePickerEvents';

export default {
	name: 'DigitTrack',

	props: {
		range: {
			type: Number,
			required: true,
			validator(value) {
				return value === parseInt(value, 10) && value > 0;
			}
		},

		value: {
			type: Number,
			default: 0,
			validator(value) {
				return value === parseInt(value, 10);
			}
		},

		size: {
			type: Number,
			default: 18,
			validator(value) {
				return value === parseInt(value, 10);
			}
		}
	},

	data() {
		return {
			offset: 0,
			yPos: 0,
			inFocus: false
		};
	},

	computed: {
		translateY() {
			const y = -this.offset;
			return `transform: translateY(${y}px)`;
		},

		trackHeight() {
			return (this.range - 1) * this.digitSize;
		},

		localValue() {
			return Math.round(this.offset / this.digitSize);
		},

		digitSize() {
			return Math.round(1.4 * this.size);
		},

		style() {
			return `--font-size: ${this.size}px; --digit-size: ${this.digitSize}px`;
		}
	},

	watch: {
		localValue(newValue) {
			this.$emit(TimePickerEvents.INPUT, newValue);
		},

		value(newValue) {
			if (newValue !== this.localValue) {
				this.setValue(newValue);
			}
		}
	},

	mounted() {
		this.setValue(this.value);
	},

	methods: {
		formatDigit(n) {
			return n.toString().padStart(2, 0);
		},

		setValue(value) {
			if (value < 0) {
				this.offset = 0;
			} else if (value > this.range - 1) {
				this.offset = (this.range - 1) * this.digitSize;
			} else {
				this.offset = value * this.digitSize;
			}
		},

		startDrag(event) {
			this.inFocus = true;

			this.yPos = window.TouchEvent && event instanceof TouchEvent ? event.touches[0].screenY : event.screenY;

			this.$emit(TimePickerEvents.FOCUS_IN);

			document.addEventListener('touchmove', this.drag, true);
			document.addEventListener('touchend', this.endDrag, true);
			document.addEventListener('mousemove', this.drag, true);
			document.addEventListener('mouseup', this.endDrag, true);
			document.body.addEventListener('mouseleave', this.endDrag);
		},

		drag(event) {
			let screenY = 0;

			if (window.TouchEvent && event instanceof TouchEvent) {
				screenY = event.touches[0].screenY;
			} else {
				screenY = event.screenY;
				event.preventDefault();
				event.stopPropagation();
			}

			const deltaY = screenY - this.yPos;
			this.yPos = screenY;

			this.offset = this.computeOffset(this.offset, deltaY);
		},

		endDrag(event) {
			this.offset = this.value * this.digitSize;

			this.inFocus = false;

			this.$emit(TimePickerEvents.FOCUS_OUT);

			if (event) {
				event.preventDefault();
				event.stopPropagation();
			}

			document.removeEventListener('touchmove', this.drag, true);
			document.removeEventListener('touchend', this.endDrag, true);

			document.removeEventListener('mousemove', this.drag, true);
			document.removeEventListener('mouseup', this.endDrag, true);
			document.body.removeEventListener('mouseleave', this.endDrag);
		},

		computeOffset(currentOffset, deltaY) {
			let offset = currentOffset + deltaY;

			if (offset < 0) {
				offset = 0;
			} else if (offset > this.trackHeight) {
				offset = this.trackHeight;
			}

			return offset;
		},

		digitInFocus(digitValue) {
			return this.value === digitValue ? 'selected' : null;
		},

		digitScale(digitValue) {
			const maxDistance = 3;
			const distance = Math.abs(this.value - digitValue);

			if (distance > maxDistance) {
				return null;
			}

			const digitOffset = Math.abs(this.offset - digitValue * this.digitSize);
			const factor = digitOffset / (maxDistance * this.digitSize);
			const digitScale = 1 - 0.75 * factor;
			const digitOpacity = 1 - factor;

			return `transform: scale(${digitScale}); opacity: ${digitOpacity}`;
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../../styles/timing-functions';
	@import '../../styles/colors';

	.digit-track {
		--font-size: 18px;
		--digit-size: 32px;
		user-select: none;
		backface-visibility: hidden;
		padding: calc(var(--digit-size) * 2) 0;
		min-width: var(--digit-size);
		height: calc(var(--digit-size) * 5);
		position: relative;
		overflow: hidden;
		z-index: 0;
		display: flex;
		transform: translate3d(0, 0, 1);
	}

	.track {
		flex: none;
		pointer-events: none;
		width: var(--digit-size);
	}

	.digit {
		font-size: var(--font-size);
		line-height: var(--digit-size);
		width: var(--digit-size);
		letter-spacing: 2px;
		text-align: center;
		transform-origin: 50% 50%;
		vertical-align: middle;
	}

	.focus-out {
		transition: transform 100ms $ease-in-out-quad;
	}
</style>
