<template>
	<div :style="style" class="time-picker">
		<digit-track 
			v-model="hours" 
			:range="24" 
			:size="size" 
			class="digit-track hours" 
			style="justify-content: flex-end;" 
		/>
		<span class="colon">:</span>
		<digit-track 
			v-model="minutes" 
			:range="60" 
			:size="size" 
			class="digit-track minutes" 
		/>
	</div>
</template>

<script>
import { Time } from 'adhan-clock-common';

import DigitTrack from './DigitTrack';
import * as TimePickerEvents from './TimePickerEvents';

export default {
	name: 'TimePicker',

	components: {
		'digit-track': DigitTrack
	},

	props: {
		value: {
			type: Object,
			required: true,
			validator(value) {
				return value instanceof Time;
			}
		},

		size: {
			type: Number,
			default: 18,
			validator(value) {
				return value === parseInt(value, 10);
			}
		}
	},

	data() {
		return {
			time: new Time(0, 0),
			hours: 0,
			minutes: 0
		};
	},

	computed: {
		digitSize() {
			return Math.round(1.8 * this.size);
		},

		style() {
			return `--font-size: ${this.size}px; --digit-size: ${this.digitSize}px`;
		}
	},

	watch: {
		hours(newValue) {
			this.$emit(TimePickerEvents.INPUT, new Time(this.value.name, newValue, this.minutes));
		},

		minutes(newValue) {
			this.$emit(TimePickerEvents.INPUT, new Time(this.value.name, this.hours, newValue));
		}
	},

	mounted() {
		this.hours = this.value.hours;
		this.minutes = this.value.minutes;
	},

	methods: {
		parseTime(value) {
			const time = value.match(/^([0-9]{2}):([0-9]{2})$/);
			this.hours = Number.parseInt(time[1] || 0, 10);
			this.minutes = Number.parseInt(time[2] || 0, 10);
		},

		setTime(time) {
			this.hours = time.hours;
			this.minutes = time.minutes;
		},

		open() {
			this.inFocus = true;
			this.$emit(TimePickerEvents.FOCUS_IN);
		},

		close() {
			this.inFocus = false;
			this.$emit(TimePickerEvents.FOCUS_OUT);
		}
	}
};
</script>

<style lang="scss" scoped>
	@import '../../styles/timing-functions';
	@import '../../styles/colors';

	.time-picker {
		--font-size: 18px;
		--digit-size: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
	}

	.digit-track {
		flex: 1 0 auto; // width: 50%;
	}

	.colon {
		flex: none;
		font-size: var(--font-size);
		font-weight: 700;
		height: var(--digit-size);
		line-height: calc(var(--digit-size) - 2px);
		vertical-align: middle; // width: 16px;
		text-align: center;
		user-select: none;
	}

	.focus-out {
	}
</style>
