<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.png">
	<title>Adhan Clock</title>
</head>

<body>
	<noscript>
		<strong>We're sorry but adhan-clock-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<main id="adhan-clock"></main>
	<!-- built files will be auto injected -->
</body>

</html>