@import './timing-functions';
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    &:after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%) scale(1, 1);
        transform-origin: 50% 50%;
        pointer-events: none;
        opacity: 0;
    }
    &:focus:not(:active)::after {
        animation: ripple 1s $ease-in-out-quad;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(21, 21);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}